@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Sarabun', serif;
    scroll-behavior: smooth;
}

animate__delay-0-5s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
